<div class="timeline-container">
    <div class="timeline-page-header">
        <h1 id="timeline">How-To</h1>
        <div class="btn-group"></div>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><span class="glyphicon glyphicon-qrcode"></span></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">1. 联系 Mombuyble</h4>
              <p><small class="timeline-time"><span class="glyphicon glyphicon-time"></span> 11 hours ago via Twitter</small></p>
            </div>
            <div class="timeline-body">
              <p>通过关注 Mombuyble 的官方新浪微博 Weibo 帐号： <wb:follow-button uid="3934102739" type="red_1" width="67" height="24" >Mombuyble</wb:follow-button> </p>
              <p>或通过添加 Mombuyble 的官方腾讯微信 WeChat 帐号：</p>
              <img src="https://c1.staticflickr.com/3/2827/12941849333_4b3515719e_o.jpg" width="100" height="100" alt="WeChat QR Code">
            </div>
          </div>
        </li>
        
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><span class="glyphicon glyphicon-shopping-cart"></span></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">2. 查阅 Mombuyble 代购目录</h4>
            </div>
            <div class="timeline-body">
              <p>通过 Mombuyble.com 及其官方社交网络账户浏览 Mombuyble 所代购（包括，但不仅限于）商品名册及所拍摄实物图片选择商品。</p>
              <p>或浏览并记录美国境内其他商品网站产品链接（如果需要购买非美国境内提供商品，须明确其提供快递至美国的服务 Shipping to U.S）选择商品。</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-envelope"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">3.咨询商品细节，准备订单</h4>
            </div>
            <div class="timeline-body">
              <p>针对每一件为宝宝挑选的商品，Mombuyble 将提供翔实的细节信息，如（包括，但不仅限于）材质、尺寸、颜色、型号、相关的安全标准，以及 Mombuyble 亲身使用的心得。至此，您可放心的开始准备订单。</p>
            </div>
          </div>
        </li> 
        
        <li class="timeline-inverted">
          <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">4. 确认订单及快递</h4> 
            </div>
            <div class="timeline-body">
              <p>经过横向比较不同快递运营商，Mombuyble 选择了（最高性价比，最低被征收关税可能）第三方代理快递。</p>
              <p>因此在寄送时，3 磅为起始重量，即，单个包裹重量（含快递包装）低于 3 磅，将按照 3 磅计算。若此情况出现，Mombuyble 将主动与您取得联系，并咨询您的决定（与其他包裹捆绑寄出或单独寄出）。</p>
              <p>同时，由于涉及清关（中国海关）环节，快递资费会因不同产品类型而略有差别（具体请向 Mombuyble 咨询）。</p>
             </div>
          </div>
        </li> 
        
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-send"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">5. Mombuyble 发货并推送提示</h4>
            </div>
            <div class="timeline-body">
              <p>感谢您耐心的等待，您所选购的全部商品已整合打包并寄出。Mombuyble 将即时向您推送发货提示。</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-gift"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">6. 收取包裹并确认物品</h4>
            </div>
            <div class="timeline-body">
              <p>再次感谢您耐心的等待，包裹终于抵达至府上。请在收到包裹的第一时间，检查包裹内的商品并确认是否存在与订单不符的情况。如果不幸发生此类情况，请即时与 Mombuyble 联系，并附上相关图片和收据。Mombuyble 承诺给您提供最满意的解决方案。</p>
            </div>
          </div>
        </li> 
        
    </ul>
</div>