 <style type="text/css">.tk-freight-sans-pro{font-family:"freight-sans-pro",sans-serif;}.tk-ff-tisa-web-pro{font-family:"ff-tisa-web-pro",serif;}</style>
<link href="/stylesheets/fonts.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/nprogress.css" rel="stylesheet" type="text/css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" language="javascript"> 
/*!
 * Header scroll blur effects
 * 
 */

$(window).scroll(function() {
	h = $( document ).height();
	h = h/2;
	oVal = ($(window).scrollTop() / h);
	$('.blur').css('opacity', oVal);
});
</script>
